* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--font-color-normal-black);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: var(--theme-color);
}
li{
  list-style: none;
}

.active.active.active{
  color:var(--theme-color);
}
.show-must{
  display: block!important;
}
.hide-must{
  display: none!important;
}
.hide-must-h{
  height: 0!important;
}
.w{
  margin: 0 auto !important;
}


.dark{
  --foreground-color:#999;
  --background-color:#E5E6EB;
  --theme-color:#1D7DFA;
  --border-color:#F2F3F5;
}
.light{
  --foreground-color:#fff;
  --background-color: #F4F5F5;
  --theme-color:#1D7DFA;
  --border-color:#E5E6EB;
  --font-color-deep-black:#1D2129;
  --font-color-normal-black:#333;
  --font-color-low-black:#515767;
  --font-color-deep-gray:#333;
  --font-color-low-gray:#999;
  --background-color-hover-box:#eee;
}
