.aside {
    .txt{
        position: absolute;
        top: 12px;
        left: 10px;
        display: none;
        width: 46px;
        height: 46px;
        font-size: 28px;
    }
    .toggle{
        display: none;
    }
    .toggle + div{
        display: block;
        width: 260px;
        height: calc(100vh - 64px);
        background-color: #fff;
        overflow: hidden;
        transition: width .4s;
        z-index: 999;
    }
}

@media screen and (max-width:980px) {
    .aside {
        .txt.txt{
            display: block;
        }
        .toggle + div{
            width: 0;
        }
        .toggle:checked + div{
            width: 260px;
        }
    }
}